

<form>
    <table align="center" border="10px" >
        <tr>
            <td >
                FIRST NAME * :
               
            </td>
            <td>
            <input type="text">
        
            </td>
            
        </tr>
        <br>

        <tr>
            <td>
                LAST NAME * :
            </td>
            <td>
            <input type="text" >
        </td>
        </tr>
        <br>

        <tr>
            <td>
                AGE * :
            </td>
            <td>
            <input type="number" >
            </td>
        </tr>
        <br>

        <tr>
            <td>
                GENDER * :
            </td>
            <td >
            <input type="radio"  value="male"> -->  MALE
            <br>
            <input type="radio"  value="female"> -->  FEMALE
            <br>
            <input type="radio"   value="others"> -->  OTHERS
            
            </td>
        </tr>
        <br>

        <tr>
            <td>
                DATE OF BIRTH * :
            </td>
            <td>
            <input type="date" >
        </td>
        </tr>
        <br>

        <tr>
            <td>
                E-MAIL * :
            </td>
            <td>
            <input type="email" >
            </td>
        </tr>
        <br>
        <tr>
            <td>
                CURRENT ADDRESS * :
            </td>
            <td>
            <input type="text"   />
            </td>
        </tr>
        <br>
        <tr>
            <td>
                Is your current address and permanent address same ? :
            </td>
            <td>
            <input type="checkbox"  >CLICK HERE
            </td>
        </tr>
        <br>
        <tr>
            <td>
                PERMANENT ADDRESS * :
            </td>
            <td>
            <input type="text"  />
            </td>
        </tr>
        <br>
        

        <tr>
            <td>
                HSLC SCHOOL NAME * :
            </td>
            <td>
            <input type="text"  />
            </td>
        </tr>
        <br>

        <tr>
            <td>
                HSLC MODE * :
            </td>
            <td>
            <select>
                <option>----------------</option>
                <option>CBSE</option>
                <option>STATE BOARD</option>
                <option>MATRIC</option>
            </select>
            </td>
        </tr>
        <br>

        <tr>
            <td>
                HSLC MARK * :
            </td>
            <td>
            <input type="number"  />
            </td>
        </tr>
        <br>

        <tr>
            <td>
                HSLC PERCENT * :
            </td>
            <td>
            <input type="number"  />
            </td>
        </tr>
        <br>

        <tr>
            <td>
                SSLC SCHOOL NAME * :
            </td>
            <td>
            <input type="text"  />
            </td>
        </tr>
        <br>

        <tr>
            <td>
                SSLC MODE * :
            </td>
            <td>
                <select >
                    <option>----------------</option>
                    <option>CBSE</option>
                    <option>STATE BOARD</option>
                    <option>MATRIC</option>
                </select>
            </td>
        </tr>
        <br>

        <tr>
            <td>
                SSLC MARK * :
            </td>
            <td>
            <input type="number"  />
            </td>
        </tr>
        <br>

        <tr>
            <td>
                SSLC PERCENT * :
            </td>
            <td>
            <input type="number"  />
            </td>
        </tr>
        <br>

        <tr>
            <td>
                <button type="Submit" value="submit" >SUBMIT</button>
            </td>
        </tr>
    </table>
</form>
