

<form [formGroup]="student">
    
    <table align="center" border="10px" >
        <P align="center"> <u>REACTIVE FORM </u></P>

        <tr>
            <td >
                FIRST NAME * :
               
            </td>
            
            <td>
            <input type="text" formControlName="FIRSTNAME" class="form-control"   required minlength="4" [ngClass]="{'is-invalid' :submitted && f.FIRSTNAME.errors}"/>
            <div *ngIf="submitted && f.FIRSTNAME.errors" class="invalid-feedback">
                <div *ngIf="f.FIRSTNAME.errors.required">* First Name is required *</div>
               <div *ngIf="f.FIRSTNAME.errors?.minlength">* First Name must be more than 3 letters *</div>
              </div>
            
            </td>
            
        </tr>
        <br>

        <tr>
            <td>
                LAST NAME * :
            </td>
            <td>
            <input type="text" formControlName="LASTNAME" class="form-control" [ngClass]="{'is-invalid' :submitted && f.LASTNAME.errors}"/>
            <div *ngIf="submitted && f.LASTNAME.errors" class="invalid-feedback">
                <div *ngIf="f.LASTNAME.errors.required">* Last Name is required *</div>
              </div>   
        </td>
        </tr>
        <br>

        <tr>
            <td>
                AGE * :
            </td>
            <td>
            <input type="number" class="form-control" formControlName="AGE" [ngClass]="{'is-invalid' :submitted && f.AGE.errors}"/>
            <div *ngIf="submitted && f.AGE.errors" class="invalid-feedback">
                <div *ngIf="f.AGE.errors.required">* Age is required *</div>
              </div>   
            </td>
        </tr>
        <br>

        <tr>
            <td>
                GENDER * :
            </td>
            <td     class="form-check"  >
            <input type="radio" formControlName="GENDER" value="male" id="male" name="GENDER" [ngClass]="{'is-invalid' :submitted && f.GENDER.errors}">   MALE
            <br>
            <input type="radio" formControlName="GENDER" value="female" id="female" name="GENDER" [ngClass]="{'is-invalid' :submitted && f.GENDER.errors}">   FEMALE
            <br>
            <input type="radio" formControlName="GENDER"  value="others" id="others" name="GENDER" [ngClass]="{'is-invalid' :submitted && f.GENDER.errors}">   OTHERS
            <div *ngIf="f.GENDER.errors && f.GENDER.invalid" class="invalid-feedback">
                <div *ngIf="f.GENDER.errors?.required">* Gender is required *</div>
              </div>
            </td>
        </tr>
        <br>

        <tr>
            <td>
                DATE OF BIRTH * :
            </td>
            <td>
            <input type="date"  class="form-control"  formControlName="DATEOFBIRTH" [ngClass]="{'is-invalid' :submitted && f.DATEOFBIRTH.errors}"/>
            <div *ngIf="submitted && f.DATEOFBIRTH.errors" class="invalid-feedback">
                <div *ngIf="f.DATEOFBIRTH.errors.required">* Date of Birth is required *</div>
              </div>       
        </td>
        </tr>
        <br>

        <tr>
            <td>
                E-MAIL * :
            </td>
            <td>
            <input type="email" class="form-control" formControlName="EMAIL" [ngClass]="{'is-invalid' :submitted && f.EMAIL.errors}"/>
            <div *ngIf="submitted && f.EMAIL.errors" class="invalid-feedback">
                <div *ngIf="f.EMAIL.errors.email">* Email is required *</div>
              </div>       
            </td>
        </tr>
        <br>
        <tr>
            <td>
                CURRENT ADDRESS * :
            </td>
            <td>
            <input type="text" class="form-control" formControlName="CURRENTADDRESS" [ngClass]="{'is-invalid' :submitted && f.CURRENTADDRESS.errors}" [(ngModel)]="caddress"/>
            <div *ngIf="submitted && f.CURRENTADDRESS.errors" class="invalid-feedback">
                <div *ngIf="f.CURRENTADDRESS.errors.required">* CURRENTADDRESS is required *</div>
              </div>        
            </td>
        </tr>
        <br>
        <tr>
            <td>
                Is your current address and permanent address same ? :
            </td>
            <td>
            <input type="checkbox"class="custom-select" (change)="Address()">CLICK HERE
            </td>
        </tr>
        <br>
        <tr>
            <td>
                PERMANENT ADDRESS * :
            </td>
            <td>
            <input type="text" class="form-control" formControlName="PERMANENTADDRESS" value={{paddress}}/>
            </td>
        </tr>
        <br>
        

        <tr>
            <td>
                HSLC SCHOOL NAME * :
            </td>
            <td>
            <input type="text" class="form-control" formControlName="HSLCSCHOOLNAME" [ngClass]="{'is-invalid' :submitted && f.HSLCSCHOOLNAME.errors}"/>
            <div *ngIf="submitted && f.HSLCSCHOOLNAME.errors" class="invalid-feedback">
                <div *ngIf="f.HSLCSCHOOLNAME.errors.required">* HSLC school name is required *</div>
              </div>  
            </td>
        </tr>
        <br>

        <tr>
            <td>
                HSLC MODE *  :
            </td>
            <td     class="form-check"  >
            <input type="radio" formControlName="HSLCMODE" value="cbse" id="cbse" name="HSLCMODE" [ngClass]="{'is-invalid' :submitted && f.HSLCMODE.errors}"  >   CBSE
            <br>
            <input type="radio" formControlName="HSLCMODE" value="stateboard" id="stateboard" name="HSLCMODE" [ngClass]="{'is-invalid' :submitted && f.HSLCMODE.errors}">   STATE BOARD
            <br>
            <input type="radio" formControlName="HSLCMODE" value="matric" id="matric" name="HSLCMODE" [ngClass]="{'is-invalid' :submitted && f.HSLCMODE.errors}">   MATRIC
            <div *ngIf="f.HSLCMODE.errors && f.HSLCMODE.invalid" class="invalid-feedback">
                <div *ngIf="f.HSLCMODE.errors?.required">* HSLC mode is required *</div>
              </div>
            </td>
        </tr>
    
        <br>

        <tr>
            <td>
                HSLC MARK * :
            </td>
            <td>
            <input  type="number" class="form-control" formControlName="HSLCMARK" [ngClass]="{'is-invalid' :submitted && f.HSLCMARK.errors}"  [(ngModel)]="hmarks" (change)="hresult()" >
            <div *ngIf="submitted && f.HSLCMARK.errors" class="invalid-feedback">
                <div *ngIf="f.HSLCMARK.errors.required">HSLC Mark is required</div>
              
              </div>   
            </td>
        </tr>
        <br>

        <tr>
            <td>
                HSLC PERCENT * :
            </td>
            <td>
            <input type="number" class="form-control" formControlName="HSLCPERCENT" value="{{hpercent}}"/>
            </td>
        </tr>
        <br>

        
        <tr>
            <td>
                SSLC SCHOOL NAME * :
            </td>
            <td>
            <input type="text" class="form-control" formControlName="SSLCSCHOOLNAME" [ngClass]="{'is-invalid' :submitted && f.SSLCSCHOOLNAME.errors}"/>
            <div *ngIf="submitted && f.SSLCSCHOOLNAME.errors" class="invalid-feedback">
                <div *ngIf="f.SSLCSCHOOLNAME.errors.required">* SSLC school name is required *</div>
              </div>  
            </td>
        </tr>
        <br>

        <tr>
            <td>
                SSLC MODE *  :
            </td>
            <td     class="form-check"  >
            <input type="radio" formControlName="SSLCMODE" value="cbse" id="cbse" name="SSLCMODE" [ngClass]="{'is-invalid' :submitted && f.SSLCMODE.errors}">   CBSE
            <br>
            <input type="radio" formControlName="SSLCMODE" value="stateboard" id="stateboard" name="SSLCMODE" [ngClass]="{'is-invalid' :submitted && f.SSLCMODE.errors}">   STATE BOARD
            <br>
            <input type="radio" formControlName="SSLCMODE" value="matric" id="matric" name="SSLCMODE" [ngClass]="{'is-invalid' :submitted && f.SSLCMODE.errors}">   MATRIC
            <div *ngIf="f.SSLCMODE.errors && f.SSLCMODE.invalid" class="invalid-feedback">
                <div *ngIf="f.SSLCMODE.errors?.required">* SSLC mode is required *</div>
              </div>
            </td>
        </tr>
        
        <br>

        <tr>
            <td>
                SSLC MARK * :
            </td>
            <td>
            <input  type="number" class="form-control" formControlName="SSLCMARK" [ngClass]="{'is-invalid' :submitted && f.SSLCMARK.errors}"/>
            <div *ngIf="submitted && f.SSLCMARK.errors" class="invalid-feedback">
                <div *ngIf="f.SSLCMARK.errors.required">* SSLC Mark is required *</div>
              </div>   
            </td>
        </tr>
        <br>

        <tr>
            <td>
                SSLC PERCENT * :
            </td>
            <td>
            <input type="number" class="form-control" />
            </td>
        </tr>
        <br>
    
        <tr>
            <td>
                <button type="Submit" value="submit" (click)="onSubmit()">SUBMIT</button>
            </td>
        </tr>
    </table>
</form>
